PORT=3002
MONGO_URI=mongodb://127.0.0.1:27017/smartchain
JWT_SECRET=smartchain-dev-jwt-secret-use-same-in-all-services
RABBITMQ_URL=amqp://guest:guest@127.0.0.1:5672
RABBITMQ_EXCHANGE=smartchain_exchange
RABBITMQ_QUEUE_PREFIX=smart-chain-
