VITE_API_IAM_URL=http://localhost:3001
VITE_API_SALES_URL=http://localhost:3002
VITE_API_INVENTORY_URL=http://localhost:3003
VITE_API_WAREHOUSE_URL=http://localhost:3004
VITE_API_LOGISTICS_URL=http://localhost:3005